@import 'the-new-css-reset';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding-inline: 2rem;
  flex-direction: column;
}

.result {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: start;
}

.modal {
  width: 90vw;
  max-width: 20rem;

  padding: 1em;

  background: #fff;
  color: #656e77;
  box-shadow: 0 0 5px rgba(101, 110, 119, 0.2);
  border: 0;
  text-align: center;
}

.modal[open] {
  animation: 0.2s linear slidein;
}

.modal::backdrop {
  background: rgba(224, 228, 232, 0.9);
  animation: 0.4s ease fade;
}

@keyframes slidein {
  from {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transfrom: translate3d(0, 0, 0);
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & label {
    display: flex;
    justify-content: space-between;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 2.4em;
  line-height: 1.1;
  margin: 0;
  padding: 0;

  & a svg {
    width: 12px;
    height: 12px;
    translate: 0 -0.55em;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.result {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: start;
}

/* Button */
.btn {
  margin: 0;
  padding: 1em 2em;

  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  background: #50aaff;
  border: 0;
  font-weight: bold;
}

.btn--inline {
  display: inline-block;
  margin-right: 0.5rem;
}

.btn--close {
  background: #ff8282;
}

/* Dialog */
.modal {
  width: 90vw;
  max-width: 20rem;

  padding: 1em;

  background: #fff;
  color: #656e77;
  box-shadow: 0 0 5px rgba(101, 110, 119, 0.2);
  border: 0;
  text-align: center;
}

.modal[open] {
  animation: 0.2s linear slidein;
}

.modal::backdrop {
  background: rgba(224, 228, 232, 0.9);
  animation: 0.4s ease fade;
}

.dialog__title {
  color: #50aaff;
}

.dialog__txt {
}

.dialog__btn {
  display: block;
  width: 100%;
  margin-top: 2rem;
}
